@page
@model ERP.Pages.OrderView.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.AmountEachPiece)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.AmountEachPiece)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.ConsPcsYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.ConsPcsYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.NextOrderCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.NextOrderCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Fabric)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Fabric.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Mill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Mill.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Region.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
