@page
@model ERP.Pages.ProductType.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FabricType[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FabricType[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FabricType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |

                    @if (item.IsActive)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }


                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                    {
                        if (!item.IsActive)
                        {
                            <a asp-page="./Delete" asp-route-id="@item.Id">Undo Delete</a>
                        }

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
